.button {
    font-weight: 500;
    text-decoration: none;
    background: none;
    border: 2px solid black;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.secondary {
    @extend .button;
    background-color: black;
    color: white;
    box-shadow: 0 10px 40px -15px white;
}