
.wrapper {
    display: grid;
    grid-template-columns: 120px 1fr 100px;
    align-items: center;
    padding: 20px 25px;
}

.logoText {
    color: white;
    position: absolute;
    top: 60px;
}

.logoImage {
    position: relative;
}

